.card {
    max-width: fit-content;
    max-height: fit-content;
    width: 200px;
    height: 425px;
    margin-top: 5%;
    position: relative;
}

.card a {
    position: absolute;
    bottom: 5px;
    left: 50px
}